{%  extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="mainform">
    <div class="invitation">
        <h3 class="invite">Watch your hood !</h3>
    </div>
    <form  action="/accounts/register/" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="hidden" name="next" value="/myaccount/">
      <div class="form-group" style="text-align: center">
        <input type="submit" class="btn btn-primary btn-sm" value="Login">
      </div>
      <div class="invite" style="margin:0 0 5px 0;">
          Have an account?
          <a href="/accounts/login">Sign in</a>
      </div>
    </form>
</div>
{% endblock %}